header.head ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7fc4fd;
}

header.head li {
  float: left;
}

header.head li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header.head li a:hover {
  background-color: #2699fb;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

div.upload {
  text-align: center;
}
h2 {
  text-align: center;
}
button {
  background-color: #7fc4fd;
  color: white;
  text-align: center;
  width: 148px;
  height: 48px;
  border-radius: 6px;
  font-size: 23px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

div.select {
  background-color: #bce0fd;
  height: 570px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.overview {
  position: relative;
  display: inline-block;
  margin-left: 3px;
  width: 263px;
  height: 220px;
  text-align: center;
}
.overview:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  height: 220px;
  width: 263px;
  opacity: 0;
  transition: 0.5s ease;
}
.olimg {
  position: absolute;
  height: 220px;
  width: 263px;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.about {
  text-align: center;
}

div.upload label[id="file"] {
  display: inline-block;
  background-color: #7fc4fd;
  color: white;
  width: 148px;
  height: 48px;
  border-radius: 6px;
  font-size: 23px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
div.upload input[type="file"] {
  position: absolute;
  overflow: hidden;
  text-align: center;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

div.author1 {
  display: inline-block;
  margin-right: 40px;
}

div.author2 {
  display: inline-block;
  margin-right: 40px;
}

div.author3 {
  display: inline-block;
  margin-right: 40px;
}

div.author4 {
  display: inline-block;
  margin-right: 40px;
}
