.vscode/

# dependencies
node_modules/
client/node_modules/
client/.pnp
client/.pnp.js

# testing
**/coverage
.pytest*

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.python-version

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# models
#*.pth

# statics
image_input/*
image_output/*

# cache
**/.eslintcache
**/__pycache__/

# db
postgresql/
redis/data/
redis/logs/

**/*lock.json
**/*.lock

*.pth
.pytest*

# message queue
rabbitmq/data/
rabbitmq/logs/

# model stuff
dataset/
checkpoints/
