.vscode/

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
**/coverage
.pytest*

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.python-version

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# models
*.pth

# statics
image_input/
image_output/

# cache
client/.eslintcache
**/__pycache__/

# db
postgresql/

**/*lock.json
**/*.lock
**/.eslintcache
**/__pycache__/

*.pth
.pytest*

# message queue
rabbitmq/data/
rabbitmq/logs