[MASTER]
fail-under=9.0
ignore-patterns=transformer
init-hook=import sys;sys.path.append('./modelserver');sys.path.append('./webserver')
jobs=1
limit-inference-results=100


[BASIC]
variable-rgx=((([a-z_][a-z0-9_]{2,})|(_[a-z0-9_]*)|(__[a-z][a-z0-9_]+__))$)|([A-Z_][A-Z0-9_]+$)


[MESSAGES CONTROL]
disable=C0111,
        C0114,
        E0401,
        W0511,
        R0903


[REFACTORING]
max-nested-blocks=3


[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO
good-names=i,
           j,
           k,
           ex,
           Run,
           e,
           logger,
           _

[pre-commit-hook]
params=--rcfile=.pylintrc
limit=9.0
