.blue_button {
  display: inline-block;
  background-color: #7fc4fd;
  color: white;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

.blue_button:hover {
  background-color: #2699fb;
}
