#Home-wrapper {
  text-align: center;
}

input#file_upload {
  position: absolute;
  visibility: hidden;
}

.box {
  margin: 1rem auto;
  height: 20rem;
}

img.upload-image {
  margin: auto auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

div.upload label[id="file"] {
  display: inline-block;
  background-color: #7fc4fd;
  color: white;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
}

div.upload input[type="file"] {
  position: absolute;
  overflow: hidden;
  text-align: center;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#style-select-wrapper {
  background-color: #bce0fd;
  height: 100%;
  text-align: center;
  margin: 2rem auto;
  padding: 2rem 2rem;
}

div.author {
  display: inline-block;
  margin-right: 40px;
}

div.radio-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[type="radio"],
input[type="radio"]:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin-right: 0.1rem;
}

input[type="radio"] {
  background-color: white;
  border: 2px solid blue;
}
input[type="radio"]:checked {
  background-color: skyblue;
}
